@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('../fontes/IDroid.otf') format('opentype');
    font-weight: normal; 
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor1:#83E1AD;
    --cor2:#3EDC84;
    --cor3:#2FA866;
    --cor4:#1A5C37;
    --cor5:#355C47;

    --font-padrao: Arial, Verdana, sans-serif;
    --font-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'android', 'cursive';  
}
body{
    
    font-family: var(--font-padrao);   
    
}
#cabeçalho{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-family: var(--font-destaque);    
    background-image: linear-gradient(to bottom, #83E1AD, #1A5C37);
    padding-bottom: 50px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    font-size: 1.2em;    
    text-shadow: 2px 3px 2px #1A5C37;
    font-size: 20px;  
   
}
h1{
    font-style: normal;
    font-weight: lighter;
}
div p{
    font-style: normal;
    font-weight: lighter;
}
nav{
    background-color: var(--cor4);
    padding: 10px;
    
}
a:hover{
    background-color: #2FA866;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition-duration: 0.4s;
}
nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;    
    
}
#titulo{
    padding-left: 10px;
    background-image: linear-gradient(to right, var(--cor2), transparent);      
    
}
.topico{
    background-image: linear-gradient(to right, var(--cor2), transparent);
    padding-left: 10px;
    font-size: normal;
    font-weight: lighter;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px 30px;
    text-align: justify;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;   
    
}
main img{
    width: 100%;
}
main img.pequeno{
    max-width: 350px;
    display: block;
    margin: auto;

}
main p {
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 30px;

}
main strong{
    color: var(--cor4);
    
}
main a{
    text-decoration: none;
    color: var(--cor4);
    font-weight: normal;    
}
.link{
    font-weight: bolder;    
}
.link:hover{
    background-color: #83E1AD;
}
article > h1{
    color: var(--cor5);
    font-family: var(--font-android);
}
article > h2{
    color: var(--cor5);
    font-family: var(--font-android);
}
aside{
    background-color: var(--cor1);
    margin: 20px;       
    
}
aside > ul{
    list-style-type: '\2714\00A0\0020';
    list-style-position: inside;
    columns: 2;

}
aside > p{
    margin: 15px 15px;
    padding: 3px;
    line-height: 25px;
}

aside > h3{
    color: white;
    background-color: var(--cor3);
    padding: 15px 10px;
    border-radius: 10px 10px 0 0;
}
footer > p{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding: 10px;
    
}

#final{
    margin: 15px 10px 15px 15px;
    text-indent: 30px;
    line-height: 20px;
}

div#video {
    background-color: var(--cor5);    
    margin: 0px -30px -30px -30px;
    padding: 30px;
    padding-bottom: 56%;
    position: relative;
    
          
}
div#video > iframe{
    position: absolute;    
    left: 5%;
    width: 90%;
    height: 90%;    
    top: 5%;   

}

    






